%a.github{:href => "https://github.com/rcode5/image-wysiwyg-sample"}
  %img{:style=>"position: fixed; top: 0; right: 0; border: 0; z-index:1040", :src =>"//s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png", :alt=>"Fork me on GitHub"}
.row
  .span1.offset1
    Input
  .span8
    %textarea.wysi

