!!! 5
%html
  %head
    %title 
      Bootstrap Wysihtml5 with Custom Image Insert

    %link{href:"//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap-combined.min.css", rel:"stylesheet"}
    %link{href:"app.css", rel:"stylesheet"}
    %link{href:"bootstrap-wysihtml5/bootstrap-wysihtml5-0.0.2.css", rel:"stylesheet"}

  %body
    .row.navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand{href:'#'}
            %img{src:'rcode5_small_logo.png', title:"rcode5"}
            bootstrap-wysiwyg with custom image dialog
        .container
          - if @error
            .alert.alert-error #{@error}
    .main.container
      = yield
    %footer.container.footer
      .row
        .span1.offset9
          %a{href: 'http://rcode5.com'}
            %img{src:'rcode5_small_logo.png', title:"rcode5"}

  %script{src:'//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.2/underscore-min.js' }
  %script{src:'//code.jquery.com/jquery-1.8.2.min.js' }
  %script{src:"//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/js/bootstrap.min.js" }
  %script{src:"bootstrap-wysihtml5/wysihtml5-0.3.0.min.js"}
  %script{src:"bootstrap-wysihtml5/bootstrap-wysihtml5-0.0.2.js"}
  %script{src:"jqueryupload.js"}
  %script{src:"custom_image_wysihtml5.js"}
